# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files
config.yaml

# Directories
.idea/
.vscode/
BACKUPS/
bin/
P4kResults/
test/

CLAUDE.md
AGENTS.md
